#mainNav .navbar-toggler {
  display: none;
}

.portfolio-modal .modal-dialog {
  margin: 1rem auto;
  max-width: calc(min(100vw, 600px));
}
.portfolio-modal .modal-content {
  padding: 100px 0 0 0;
}
.portfolio-modal .modal-content h2 {
  font-size: 2em;
}

.modal-body {
  text-align: left;
}
.portfolio-modal .modal-content p {
  margin-bottom: 1em;
}
.modal-body > .btn {
  display: none;
}
